# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan

# Terraform variable files
*.tfvars
*.tfvars.json

# Backend config (contains bucket name / real infra values)
backend.hcl

# Sensitive files
secrets.tfvars

# AWS credentials
.aws/

# Ansible
*.retry
ansible/inventory/hosts.ini

# Python (if you later use dynamic inventory/scripts)
__pycache__/
*.pyc
venv/
.env

# VS Code
.vscode/

# IntelliJ
.idea/

# OS files
.DS_Store
Thumbs.db
